.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content {
    flex-direction: column;
}

.mainContent {
    flex: 1;
    padding: 16px;
    flex-direction: column;
}

.sidebar {
    width: 250px;
    background-color: #f4f4f4;
    padding: 16px;
    border-left: 1px solid #ddd;
}
